<ion-content [fullscreen]="true" class="login-content">
  <div class="login-container">
    <div class="login-logo">
      <ion-icon name="restaurant-outline"></ion-icon>
    </div>
    
    <h1 class="login-title">Bienvenido</h1>
    <p class="login-subtitle">Ingresa a tu cuenta</p>

    <form (ngSubmit)="onLogin()" class="login-form">
      <div class="input-group">
        <ion-input
          type="email"
          placeholder="Correo electrónico"
          [(ngModel)]="email"
          name="email"
          required
        ></ion-input>
      </div>

      <div class="input-group">
        <ion-input
          type="password"
          placeholder="Contraseña"
          [(ngModel)]="password"
          name="password"
          required
        ></ion-input>
      </div>

      <ion-button expand="block" type="submit" class="btn-login">
        Iniciar Sesión
      </ion-button>

      <ion-text color="danger" *ngIf="errorMessage" class="error-message">
        <p>{{ errorMessage }}</p>
      </ion-text>
    </form>

    <div class="login-footer">
      <p>¿No tienes cuenta? <a href="#">Regístrate</a></p>
    </div>
  </div>
</ion-content>
